<%-include ('../partials/header.ejs')%>

</head>
<body class>
    <!-- Feel free to pretty up the layout as needed, just wanted to get the functionality going -->

    <div id = "viewRoomsSection">
        <%-include ('../partials/nav.ejs')%>
        <div id = "viewRoomsCenterSection">
            <h1>YOUR RESERVATIONS:</h1>
            <div id = scrollViewReservations>
                <% for (reservation of reservations) {%>
                <div class = "roomInfoAndImage">
                    <form action="/reservation/viewReservations" method="POST">
                        <input type="hidden" value="<%=reservation.resId%>" name="resId">
                        <button>Cancel Reservation</button>
                    </form>
                    <p>
                        Room Number: <%=reservation.roomId%><br>
                        Type: <%=reservation.type%><br>
                        Price: <%=reservation.price%><br>
                        Description: <%=reservation.description%><br>
                        Start Date: <%=reservation.startDate.toISOString().slice(0, 10)%><br>
                        End Date: <%=reservation.endDate.toISOString().slice(0, 10)%>
                    </p>
                    <img class="roomImage" src="/images/<%=reservation.image%>">
                </div>
                <br>
                <% } %>
            </div>

        </div>

    </div>
    <%-include ('../partials/footer.ejs')%>
</body>
</html>