<%-include ('partials/header.ejs')%>

    <title>Home Page</title>
</head>
<body>

<h1>Reservations</h1>

<div id = "reservationSection">

    <%-include ('partials/nav.ejs')%>

    <div id = "reservationCenterSection">
        To make a reservation, please fill in the information below, then click "Make Reservation".
        <br>

        <form method="POST" action="reservation/makeReservation">
            First Name:
            <input type="text" name="firstName" value="<%=guestData.firstName%>"><br>
            Last Name:
            <input type="text" name="lastName" value="<%=guestData.lastName%>"><br>
            Credit Card:
            <input type="text" name="creditCard" value="<%=guestData.cardInfo%>"><br>
            Check-In Date:
            <input type="date" max="01/01/2022"
               required pattern="\d{4}-\d{2}-\d{2}"
               placeholder="YYYY-MM-DD"
               name="inDate" ><br>
            Check-Out Date:
            <input type="date" max="01/01/2022"
               required pattern="\d{4}-\d{2}-\d{2}"
               placeholder="YYYY-MM-DD"
               name="outDate"><br>
            Room Type:
            <% if (freeRooms.single) {%>
                <input type="radio" name="type" value="oneBed"> 1 Bedroom
            <% } if (freeRooms.double) { %>
                <input type="radio" name="type" value="twoBed"> 2 Bedroom
            <% } if (freeRooms.three) { %>
                <input type="radio" name="type" value="threeBed"> 3 Bedroom
            <% } if (freeRooms.villa) { %>
                <input type="radio" name="type" value="twoBed"> Villa
            <% } %>
            <br>
            <button> Make Reservation </button>
        </form>

        <% if (typeof message != "undefined"){ %>
        <h3><%=message%></h3>
        <% } %>
    </div>
</div>

<%-include ('partials/footer.ejs')%>

</body>
</html>