<%-include ('partials/header.ejs')%>

    <title>Home Page</title>
</head>
<body>

<h1 class="pageTitle">User Profile</h1>

<%-include ('partials/nav.ejs')%>

<form method="POST" action="/guest/update">
    First Name:
        <input type="text" name="firstName" value="<%=user.firstName%>"><br>
    Last Name:
        <input type="text" name="lastName" value="<%=user.lastName%>"><br>
    Credit Card Info:
        <input type="text" name="cardInfo" value="<%=user.cardInfo%>"><br>
    <input type="hidden" name="guestId" value="<%=user.guestId%>">

    <button>Update Profile</button>
</form>

<%-include ('partials/footer.ejs')%>

</body>
</html>
