<%-include ('partials/header.ejs')%>

    <title>Room Types</title>
</head>
<body>

<h1>Available Rooms We Offer:</h1>

<div id = "roomTypesSection">

    <%-include ('partials/nav.ejs')%>

    <div id = "roomTypesCenterSection">
    <% for (room of rooms) { %>
            <div class = "roomInfoAndImage">
            <div>
            Room Number: <%=room.roomId%>
            Type: <%=room.type%>
            Price: <%=room.price%>
            Description: <%=room.description%>
            </div>
            <img class="roomImage" src="/images/<%=room.image%>">
            </div>
            <br>
    <% } %>
    </div>
</div>
    <%-include ('partials/footer.ejs')%>

</body>
</html>
