<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room Types</title>
</head>
<body>

    <%-include ('partials/nav.ejs')%>

    <h1 class="pageTitle">Available Rooms We Offer:</h1>
    <% for (room of rooms) { %>
        <div class="roomInfo">
            Room Number: <%=room.roomId%>
            Type: <%=room.type%>
            Price: <%=room.price%>
            Description: <%=room.description%>
            Image: <img class="roomImage" src="/images/<%=room.image%>">
        </div>

    <% } %>

    <%-include ('partials/footer.ejs')%>

</body>
</html>
