<%-include ('../partials/header.ejs')%>

    <title>Room Types</title>
</head>
<body class ="stretchedInterface">



<div id = "roomTypesSection">

    <%-include ('../partials/nav.ejs')%>

    <div id = "roomTypesCenterSection">
        <h1>AVAILABLE ROOMS WE OFFER:</h1>
        <div id = "roomTypesScroll">
            <% for (room of rooms) { %>
            <div class = "roomInfoAndImage">
                <p>
                    Room Number: <%=room.roomId%><br>
                    Type: <%=room.type%><br>
                    Price: <%=room.price%><br>
                    Description: <%=room.description%>
                </p>
                <img class="roomImage" src="/images/<%=room.image%>">
            </div>
            <br>
            <% } %>
        </div>
    </div>
</div>
<%-include ('../partials/footer.ejs')%>
</body>
</html>
